/projects/azs-dc-ear/nbproject/private/
/projects/azs-dc-domain-ejb/nbproject/private/
/projects/azs-dc-domain-ejb/build/
/projects/azs-dc-domain-ejb/dist/
/projects/azs-portal/nbproject/private/
/projects/azs-dc-ear/build/
/projects/azs-dc-ear/dist/
/projects/azs-portal/build/
/projects/azs-portal/dist/

/middleware/
/downloads/
