<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>SpecialPartnersPanel</title>
    </head>
    <body>
        <wicket:panel>
            <h2><wicket:message key="solutionsLabel" /></h2>
            <div>
                <div wicket:id="specialCategoryRepeater">
                    <h3>
                        <img wicket:id="categoryIcon" />
                        <span wicket:id="categoryName" />
                    </h3>
                    <p wicket:id="categoryDescription" />
                    <a><wicket:message key="interestedLabel" /></a>
                </div>
            </div>
        </wicket:panel>
    </body>
</html>
